@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Dancing+Script&family=Great+Vibes&family=Griffy&family=Prompt:wght@100;200&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body {
  background-size: cover;
  background-image: url(Items/gingerbread.jpg);
  background-repeat: no-repeat;
}

.header {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: end;
}

#inventorySymbol {
  width: 70px;
}

.showInventory {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.missionWrapper {
  background-color: rgba(252, 252, 252, 0.5);
  color: black;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  font-size: 25px;
}

.missionHeader {
  font-family: griffy;
}

.missionBtnHolder {
  margin-top: 7%;
}

#option0,
#option1,
#option2 {
  background-color: rgb(8, 62, 8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.7s;
  font-size: 15px;
  font-family: Caveat;
}

#option0:hover,
#option1:hover,
#option2:hover {
  background-color: rgb(86, 1, 1);
}

.introWrapper {
  visibility: hidden;
}

.rightAnswer,
.wrongAnswer {
  font-size: 40px;
  color: black;
  font-weight: bold;
  display: none;
  font-family: griffy;
}

.congrats,
.fail {
  background-color: rgba(252, 252, 252, 0.5);
  padding: 15px;
  border-radius: 10px;
}

#wrongAnswerImg,
#rightAnswerImg {
  width: 400px;
  border-radius: 5%;
  display: block;
}

.end-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: griffy;
  margin-top: 400px;
}

.playAgain {
  float: right;
  color: white;
  background-color: rgb(98, 6, 6);
  border: none;
  padding: 10px;
  border-radius: 7px;
  margin: 10px 5%;
  cursor: pointer;
}

.playAgain:hover {
  background-color: gold;
  color: black;
}
